<section id="opti_WrapperID">
    <!-- right panel start -->
      <section id="opti_RightPanelID" class="">
          
          <!-- start Top Bar Section -->
            <!-- <app-top></app-top> -->
            <app-portal-top></app-portal-top>
          <!-- end Top Bar Section -->
          
          <!-- content section strat -->
          <section id="opti_MainContentID" class="position-relative" >
            <div class="container-fluid px-lg-3 pt-3">
              <router-outlet></router-outlet>
            </div>  
          </section>  
          <!-- end content section strat -->

      </section>
    <!-- right panel end -->

</section>