<section id="opti_TopBarID">
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <!-- this logo only for mobile -->
            <div class="opti_icon-spacing float-left opti_vertical-align"><img src="assets/images/logo/mobile-logo.png" alt="Logo" class="opti_small-logo opti_mouse-pointer" /></div>
            <!-- ebd this logo only for mobile -->
            
            <!-- Top Right Section -->
            <div class="opti_topbar-rightpanel float-right">
                <div class="opti_vertical-align">
                    <ul class="d-inline-flex">

                        <li class="opti_icon-spacing text-white opti_user-company-info">
                            <div>{{arrCaptions.Company_Name}}</div>
                            <div class=""><b>{{cmpName}}</b></div>
                        </li>

                        <li class="opti_icon-spacing">
                            <button kendoButton (click)="signOut()">{{arrCaptions.Logout_btn}}</button>
                        </li>
                        

                    </ul>
                </div>    
            </div>    
        </div>
    </div>
    </div>
</section>

<!-- Theme setting -->
<section id="opti_ThemeSettingID" [ngClass]="{'opt_show': openThemeSetting==true}">
    <app-theme-manager (messageEvent)=receiverMessage($event)></app-theme-manager>
</section>

<!-- About us modal start -->
<ng-template #about let-modal>
   
    <div class="modal-body text-center" style="padding: 20px;">
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <img src="assets/images/common/close-black.svg" width="15" />
        </button>
        <p></p>
        <p>
            <img src="assets/images/logo/large-logo-old.png" alt="Large Logo" class="opti_large-logo" />
        </p>
        <p>Version {{applicationVersion}}</p>
        <p>Copyright 2000-2018. All rights reserved.</p>
    </div>


</ng-template>
<!-- About us modal end -->

<!-- Mobile search start -->
<ng-template #mobileSearch let-modal>
    <div class="modal-body opti_mobile-search-modal">
        <div class="opti_search-form">
            <input class="form-control" type="text" placeholder="Search" aria-label="Search">
            <span class="opti_top-search-icon opti_vertical-align opti_mouse-pointer" (click)="modal.dismiss('Cross click')"><img src="assets/images/common/search-black.svg" class="" alt="Search" width="15" /></span>
        </div>
    </div>
</ng-template>
<!-- mobile search end -->